{% extends "base.html" %}

{% block title %}
Wilts - Prediction
{% endblock  %}


{% block content %}
<body>

<div class="vline">
</div>
<div class="text-success">
    <form>
        <a class="btn align-top btn-success top-button" href='/unlogged'>
            << Back
        </a>
        <input class="btn align-top btn-success top-button" type=button" onclick="Predict()" value="Predict">
    </form>
</div>
<div class="align-items-top " style="display: flex; justify-content: space-around">
    <div class="col align-items-center">
        <p class="bg-success info-enter text-white">Enter playlists ID:</p>
        <form class="align-items-center" style="display: flex">
            <div class="input-group">
              <input id="input-playlist" type="text" class="form-control input-write" placeholder="Enter playlist ID or Url" aria-label="Playlist" aria-describedby="basic-addon1">
            </div>
            <input class="btn btn-success button-input" type=button" onclick="AddPlaylist()" value="Add">
        </form>
        <div id="output-playlist"></div>
    </div>
    <div class="col align-items-center">
        <p class="bg-success info-enter text-white">Enter tracks ID:</p>
        <form class="align-items-center" style="display: flex">
            <div class="input-group">
              <input id="input-track" type="text" class="form-control input-write" placeholder="Enter track ID or Url" aria-label="Track" aria-describedby="basic-addon1">
            </div>
            <input class="btn btn-success button-input" type=button" onclick="AddTrack()" value="Add">
        </form>
        <div id="output-track"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

function AddPlaylist() {
    $(document).ready(function(){
      var playlist = document.getElementById('input-playlist').value;
      var i = document.getElementById('output-playlist').children.length + 1;
      console.log(document.getElementById('output-playlist').children.length);
      var html = "<p id='playlist-" + i + "'>"
                + "<span>" + playlist + "</span></p>" ;
      $('#output-playlist').append(html);
    });
};

function AddTrack() {
    $(document).ready(function(){
      var track = document.getElementById('input-track').value;
      var i = document.getElementById('output-track').children.length;
      console.log(document.getElementById('output-track').children.length);
      var html = "<p id='track-" + i + "'>"
                + "<span>" + track + "</span></p>" ;
      $('#output-track').append(html);
    });
};

function Predict() {
  var playlists = document.getElementById('output-playlist').children;
  var tracks = document.getElementById('output-track').children;
  var list_playlists = [];
  var list_tracks = [];
  for (let i = 0; i < playlists.length; i++) {
    list_playlists.push(playlists[i].lastChild.lastChild.data);
    console.log(list_playlists[i]);
  };
  for (let i = 0; i < tracks.length; i++) {
    list_tracks.push(tracks[i].lastChild.lastChild.data);
    console.log(list_tracks[i]);
  };
  console.log(document.location.pathname);
  const request = new XMLHttpRequest();
  request.open('POST', '/prediction');
  request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  var to_send = "list_playlists="+list_playlists+"&list_tracks="+list_tracks;
  request.onreadystatechange = function(res){
        if (request.readyState == 4 && request.status == 200){
        var t = request.responseText;
        console.log(t);
        var obj = JSON.parse(t)
        console.log(obj)
        var values = obj.results;
        console.log(values);
        for (let i = 0; i < tracks.length; i++) {
            console.log(values[i]);
            $('#track-' + i + ' span').text(values[i]);
  };
        }
  }
  console.log(to_send)
  request.send(to_send);


  console.log(list_playlists)
  console.log(list_tracks)
};

</script>
</body>
</html>

{% endblock %}