{% extends "base.html" %}


{% block content %}
<body>
<script src=
    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'>
</script>
<div id="running" class="notification is-warning"> Please wait, your prediction is currently running !
    <span class="icon is-medium is-left">
      <i class="fas fa-spinner"></i>
    </span>
</div>
<div class="align-items-center" style="display: flex; justify-content: space-around; padding-bottom:25px">
    <a class="button is-info is-large" onclick=Predict()>Predict !</a>
</div>
<div class="columns">
  <div class="column">
    <div class="field has-addons">
        <div class="control has-icons-left has-icons-right is-expanded">
            <input id="input-playlist" type="text" class="input is-info is-large" placeholder="Enter playlist ID or URL">
            <span class="icon is-medium is-left">
              <i class="fa fa-pencil"></i>
            </span>
        </div>
        <p class="control">
            <button onclick="AddPlaylist()" class="button is-info is-large" >Add playlist</button>
        </p>
    </div>
    <div class="box" id="output-playlist">
    </div>
  </div>
  <div class="column">
    <div class="field has-addons">
        <div class="control has-icons-left has-icons-right is-expanded">
            <input id="input-track" type="text" class="input is-info is-large" placeholder="Enter track ID or URL">
            <span class="icon is-medium is-left">
              <i class="fa fa-pencil"></i>
            </span>
        </div>
        <p class="control">
            <button onclick="AddTrack()" class="button is-info is-large" >Add track</button>
        </p>
    </div>
    <div class="box" id="output-track">
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script>
Init()

function Init() {
  $('#running').hide();
  $(document).ready(function(){
    const request = new XMLHttpRequest();
    request.open('GET', '/list_playlists');
    request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    request.send();
    list_tracks_id=[]
    list_tracks_name=[]
    list_tracks_pred=[]
    request.onreadystatechange = function(res){
      if (request.readyState == 4 && request.status == 200){
        var t = request.responseText;
        var obj = JSON.parse(t);
        list_playlists_id = obj.list_playlists_id;
        list_playlists_name = obj.list_playlists_name;
        UpdatePlaylists();
      }
    }
  });
}

function deleteChild(id) {
  var e = document.querySelector(id);
  e.innerHTML = "";
}

function AddPlaylist() {
    $(document).ready(function(){
      const request = new XMLHttpRequest();
      request.open('POST', '/playlist_name');
      request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      var playlist = document.getElementById('input-playlist').value;
      var to_send = "playlist="+playlist;
      request.onreadystatechange = function(res){
            if (request.readyState == 4 && request.status == 200){
                var t = request.responseText;
                var obj = JSON.parse(t)
                var playlist_id = obj.playlist_id;
                var playlist_name = obj.playlist_name;
                list_playlists_id.push(playlist_id);
                list_playlists_name.push(playlist_name);
                UpdatePlaylists();
            }
      }
      request.send(to_send);

    });
};

function UpdatePlaylists(){
    deleteChild("#output-playlist");
    for (let i = 0; i < list_playlists_name.length; i++) {
      var html = '<div class="notification is-info">'+
      '<button onclick="RemovePlaylist('+ i + ')"class="delete"></button>'+
      list_playlists_name[i]+'</div>'
      $('#output-playlist').append(html);
    }
}

function RemovePlaylist(i) {
  list_playlists_name.splice(i, 1)
  list_playlists_id.splice(i, 1)
  UpdatePlaylists()
}

function AddTrack() {
    $(document).ready(function(){
      const request = new XMLHttpRequest();
      request.open('POST', '/track_name');
      request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      var track = document.getElementById('input-track').value;
      var to_send = "track="+track;
      request.onreadystatechange = function(res){
            if (request.readyState == 4 && request.status == 200){
                var t = request.responseText;
                var obj = JSON.parse(t)
                var track_id = obj.track_id;
                var track_name = obj.track_name;
                list_tracks_id.push(track_id);
                list_tracks_name.push(track_name);
                UpdateTracks();
            }
      }
      request.send(to_send);

    });
};

function UpdateTracks(){
    deleteChild("#output-track");
    for (let i = 0; i < list_tracks_name.length; i++) {
      var pred = ''
      if (i <= list_tracks_pred.length-1){
        if (list_tracks_pred[i] == 0){
          pred = '<span class="icon is-large"><i class="fas fa-thumbs-down"></i></span>'
        }
        if (list_tracks_pred[i] == 1){
          pred = '<span class="icon is-large"><i class="fas fa-thumbs-up"></i></span>'
        }
      };
      var html = '<div class="notification is-info">'+
      '<button onclick="RemoveTrack('+ i + ')"class="delete"></button>'+
      list_tracks_name[i]+pred+'</div>'

      $('#output-track').append(html);
    }
}

function RemoveTrack(i) {
  list_tracks_name.splice(i, 1)
  list_tracks_id.splice(i, 1)
  list_tracks_pred.splice(i, 1)
  UpdateTracks()
}

function Predict() {
  $('#running').show();
  const request = new XMLHttpRequest();
  request.open('POST', '/prediction');
  request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  var to_send = "list_playlists="+list_playlists_id+"&list_tracks="+list_tracks_id;
  request.onreadystatechange = function(res){
        if (request.readyState == 4 && request.status == 200){
        var t = request.responseText;
        var obj = JSON.parse(t)
        var values = obj.results;
        list_tracks_pred = [];
        for (let i = 0; i < list_tracks_id.length; i++) {
            list_tracks_pred.push(values[i])
  };
        UpdateTracks()
        $('#running').hide();
        }
  }
  request.send(to_send);

};

</script>
</html>

{% endblock %}