{% extends "base.html" %}

{% block title %}
Wilts - Prediction
{% endblock  %}


{% block content %}
</head>
<body>
<h1 class="text-success">
    <div>
        <a class="btn align-top btn-success top-button" href='/home'>
            << Back
        </a>
    </div>
</h1>
<h3 class="text-center text-success">
    <br/> <br/><br/>
    Chose your option:
</h3>
<div class="align-items-center" style="display: flex; justify-content: space-around">
    <a type="button" class="btn btn-success button-home" href="log">Log In</a>
    <a type="button" class="btn btn-success button-home" href="signup">Sign Up</a>
</div>
</body>
</html>
{% endblock %}